<a href="https://colab.research.google.com/github/imji0319/PDSH/blob/master/NYC_taxi_import_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 55M의 데이터 불러오기
https://www.kaggle.com/szelee/how-to-import-a-csv-file-of-55-million-rows

In [0]:
cd /content/gdrive/My Drive/data

/content/gdrive/My Drive/data

In [0]:
import pandas as pd
import dask.dataframe as dd
import os
from tqdm import tqdm

TRAIN_PATH = 'train.csv'

In [0]:
# Set columns to most suitable type to optimize for memory usage
traintypes = {'fare_amount': 'float32',
              'pickup_datetime': 'str', 
              'pickup_longitude': 'float32',
              'pickup_latitude': 'float32',
              'dropoff_longitude': 'float32',
              'dropoff_latitude': 'float32',
              'passenger_count': 'uint8'}

cols = list(traintypes.keys())

In [0]:
chunksize = 5_000_000

In [0]:
%%time

df_list = [] # list to hold the batch dataframe

for df_chunk in tqdm(pd.read_csv(TRAIN_PATH, usecols=cols, dtype=traintypes, chunksize=chunksize)):
     
    # Neat trick from https://www.kaggle.com/btyuhas/bayesian-optimization-with-xgboost
    # Using parse_dates would be much slower!
    
    
    df_chunk['pickup_datetime'] = df_chunk['pickup_datetime'].str.slice(0, 16)
    df_chunk['pickup_datetime'] = pd.to_datetime(df_chunk['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')
    
    # Can process each chunk of dataframe here
    # clean_data(), feature_engineer(),fit()
    
    # Alternatively, append the chunk to list and merge all
    df_list.append(df_chunk)

12it [04:01, 15.40s/it]

CPU times: user 2min 13s, sys: 10.6 s, total: 2min 23s
Wall time: 4min 1s

In [0]:
# Merge all dataframes into one dataframe
train_df = pd.concat(df_list)

# Delete the dataframe list to release memory
del df_list

# See what we have loaded
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 7 columns):
fare_amount          float32
pickup_datetime      datetime64[ns, UTC]
pickup_longitude     float32
pickup_latitude      float32
dropoff_longitude    float32
dropoff_latitude     float32
passenger_count      uint8
dtypes: datetime64[ns, UTC](1), float32(5), uint8(1)
memory usage: 1.5 GB

In [0]:
display(train_df.head())
display(train_df.tail())

   fare_amount           pickup_datetime  ...  dropoff_latitude  passenger_count
0          4.5 2009-06-15 17:26:00+00:00  ...         40.712276                1
1         16.9 2010-01-05 16:52:00+00:00  ...         40.782005                1
2          5.7 2011-08-18 00:35:00+00:00  ...         40.750561                2
3          7.7 2012-04-21 04:30:00+00:00  ...         40.758091                1
4          5.3 2010-03-09 07:51:00+00:00  ...         40.783764                1

[5 rows x 7 columns]

          fare_amount  ... passenger_count
55423851         14.0  ...               1
55423852          4.2  ...               1
55423853         14.1  ...               1
55423854         28.9  ...               1
55423855          7.5  ...               1

[5 rows x 7 columns]

In [0]:
pip install -U pyarrow

Collecting pyarrow
  Downloading https://files.pythonhosted.org/packages/ad/25/094b122d828d24b58202712a74e661e36cd551ca62d331e388ff68bae91d/pyarrow-0.13.0-cp36-cp36m-manylinux1_x86_64.whl (48.5MB)
     |████████████████████████████████| 48.5MB 37.5MB/s
Requirement already satisfied, skipping upgrade: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.12.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.16.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-0.13.0

In [0]:
%%time
# Save into feather format, about 1.5Gb. 
train_df.to_feather('nyc_taxi_data_raw.feather')

CPU times: user 2.38 s, sys: 1.38 s, total: 3.76 s
Wall time: 21.8 s

In [0]:
%%time
# load the same dataframe next time directly, without reading the csv file again!
train_df_new = pd.read_feather('nyc_taxi_data_raw.feather')

CPU times: user 793 ms, sys: 1.74 s, total: 2.53 s
Wall time: 3.1 s

In [0]:
# print the dataframe info to verify we have indeed loaded the saved dataframe of 55 million rows
train_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 7 columns):
fare_amount          float32
pickup_datetime      datetime64[ns, UTC]
pickup_longitude     float32
pickup_latitude      float32
dropoff_longitude    float32
dropoff_latitude     float32
passenger_count      uint8
dtypes: datetime64[ns, UTC](1), float32(5), uint8(1)
memory usage: 1.5 GB

In [0]:
train_df_new.head()
train_df_new.tail()

          fare_amount  ... passenger_count
55423851         14.0  ...               1
55423852          4.2  ...               1
55423853         14.1  ...               1
55423854         28.9  ...               1
55423855          7.5  ...               1

[5 rows x 7 columns]

In [0]:
del train_df
del train_df_new