<a href="https://colab.research.google.com/github/imji0319/PDSH/blob/master/NYC_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
cd /content/gdrive/My Drive/data

/content/gdrive/My Drive/data

In [0]:
ls

 credit_card.xls     nyc_taxi_data_cleaning.feather   submission1.csv
 mercari_train.tsv   nyc_taxi_data_raw.feather        test.csv
 nyc_split/         'Online Retail.xlsx'              train.csv

In [0]:
pip install -U pyarrow

Requirement already up-to-date: pyarrow in /usr/local/lib/python3.6/dist-packages (0.13.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.16.4)
Requirement already satisfied, skipping upgrade: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.12.0)

In [0]:
import pandas as pd
import numpy as np

In [0]:
df_train =pd.read_feather('nyc_taxi_data_cleaning.feather')

In [0]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53196278 entries, 0 to 53196277
Data columns (total 12 columns):
index                 int64
fare_amount           float32
pickup_longitude      float32
pickup_latitude       float32
dropoff_longitude     float32
dropoff_latitude      float32
passenger_count       uint8
year                  int64
weekday               uint8
hour                  uint8
distance_miles        float32
distance_to_center    float32
dtypes: float32(7), int64(2), uint8(3)
memory usage: 2.3 GB

In [0]:
df_train.head()

   index  fare_amount  ...  distance_miles  distance_to_center
0      0          4.5  ...        0.640473            8.501885
1      1         16.9  ...        5.250587            0.543003
2      2          5.7  ...        0.863477            3.482071
3      3          7.7  ...        1.739349            1.654125
4      4          5.3  ...        1.242172            4.225934

[5 rows x 12 columns]

In [0]:
cd /content/gdrive/My Drive/data/nyc_split

/content/gdrive/My Drive/data/nyc_split

In [0]:
ls

nyc_0.feather

In [0]:
N = 2600000
for i in range(0, 20):
    
    
    if ( i == 0 ):
        data = df_train[ i : N ]
    
    else:
        data =df_train[(i*N) : (i+1)*N]
        print(data.shape)
        
        
    fname="nyc_"+str(i)+".feather"
    data.reset_index(inplace =True)
    data.to_feather(fname)

(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)
(2600000, 12)

In [0]:
# 52000000 이후 데이터
last = N * 20
data = df_train[last:]
i=20
fname = 'nyc_'+str(i)+".feather"
data.reset_index(inplace =True)
data.to_feather(fname)

In [0]:
df_20 =pd.read_feather('nyc_20.feather')

In [0]:
df_20.head()

    level_0     index  fare_amount  ...  hour  distance_miles  distance_to_center
0  52000000  54177745          5.7  ...    23        1.970966            3.372341
1  52000001  54177746          7.7  ...     8        1.046577            5.589475
2  52000002  54177747         14.0  ...     9        1.583296            4.262660
3  52000003  54177748          8.9  ...    18        1.777822            1.425949
4  52000004  54177749         29.0  ...    23        8.567448            2.994607

[5 rows x 13 columns]

In [0]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196278 entries, 0 to 1196277
Data columns (total 13 columns):
level_0               1196278 non-null int64
index                 1196278 non-null int64
fare_amount           1196278 non-null float32
pickup_longitude      1196278 non-null float32
pickup_latitude       1196278 non-null float32
dropoff_longitude     1196278 non-null float32
dropoff_latitude      1196278 non-null float32
passenger_count       1196278 non-null uint8
year                  1196278 non-null int64
weekday               1196278 non-null uint8
hour                  1196278 non-null uint8
distance_miles        1196278 non-null float32
distance_to_center    1196278 non-null float32
dtypes: float32(7), int64(3), uint8(3)
memory usage: 62.7 MB