<a href="https://colab.research.google.com/github/imji0319/PDSH/blob/master/nyc_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Training XGBoost Model
### nyc_0.feather 데이터로 training 한 model을 초기값으로 1-20까지의 파일 모두 반복 실행

In [0]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
cd /content/gdrive/My Drive/data/nyc_split

/content/gdrive/My Drive/data/nyc_split

In [0]:
pip install -U pyarrow

Requirement already up-to-date: pyarrow in /usr/local/lib/python3.6/dist-packages (0.13.0)
Requirement already satisfied, skipping upgrade: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.12.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.16.4)

In [0]:
import pandas as pd
import numpy as np

In [0]:
from sklearn.model_selection import train_test_split 
import xgboost as xgb
from xgboost import Booster

In [0]:
def XGBmodelsaved(x_train,x_test,y_train,y_test,params,tmpFile):
    matrix_train = xgb.DMatrix(x_train,label=y_train)
    matrix_test = xgb.DMatrix(x_test,label=y_test)
    model=xgb.train(params=params,
                    dtrain=matrix_train,num_boost_round=300, xgb_model=tmpFile,verbose_eval=50,
                    early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

In [0]:
#Cross-validation
params = {
    # Parameters that we are going to tune.
    'max_depth': 8, #Result of tuning with CV
    'eta':.03, #Result of tuning with CV
    'subsample': 1, #Result of tuning with CV
    'colsample_bytree': 0.8, #Result of tuning with CV
    # Other parameters
    'objective':'reg:linear',
    'eval_metric':'rmse',
    'silent': 1
}

In [0]:
# 분할된 데이터 로드 및 train 

%%time
for i in range(1,21):
    path = 'nyc_'+str(i)+'.feather'
    df_train =pd.read_feather(path)
    df_train = df_train.drop(columns=['level_0', 'index'])
    y = df_train['fare_amount']
    train = df_train.drop(columns=['fare_amount'])
    
    del df_train
    
    X_train, X_test, y_train, y_test = train_test_split(train, y, random_state = 100, test_size=0.25)
    
    del train,y
    
    fname="xgb.model"
    bst = xgb.Booster()
    tmpFile = bst.load_model(fname)
    
    model = XGBmodelsaved(X_train,X_test,y_train,y_test,params,tmpFile)
    print(str(i) + '번 파일데이터가 트레이닝 되었습니다.')
    
    model.save_model('xgb.model')
    del model

[07:16:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[0]	test-rmse:14.0148
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.75852
[100]	test-rmse:3.64173
[150]	test-rmse:3.52219
[200]	test-rmse:3.48509
[250]	test-rmse:3.46222
[299]	test-rmse:3.44776
1번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9325
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.59483
[100]	test-rmse:3.43593
[150]	test-rmse:3.31143
[200]	test-rmse:3.27378
[250]	test-rmse:3.25242
[299]	test-rmse:3.23604
2번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9339
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.58484
[100]	test-rmse:3.41192
[150]	test-rmse:3.28795
[200]	test-rmse:3.24906
[250]	test-rmse:3.2282
[299]	test-rmse:3.21288
3번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9622
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.6056
[100]	test-rmse:3.43294
[150]	test-rmse:3.30853
[200]	test-rmse:3.26904
[250]	test-rmse:3.24427
[299]	test-rmse:3.22242
4번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9252
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.59216
[100]	test-rmse:3.43057
[150]	test-rmse:3.30805
[200]	test-rmse:3.26998
[250]	test-rmse:3.24914
[299]	test-rmse:3.23117
5번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:77.6416
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:76.5127
[100]	test-rmse:76.4497
[150]	test-rmse:76.4435
[200]	test-rmse:76.4417
[250]	test-rmse:76.4407
[299]	test-rmse:76.4398
6번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9054
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.53206
[100]	test-rmse:3.35594
[150]	test-rmse:3.23269
[200]	test-rmse:3.19475
[250]	test-rmse:3.17474
[299]	test-rmse:3.15434
7번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9574
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.56997
[100]	test-rmse:3.3791
[150]	test-rmse:3.25239
[200]	test-rmse:3.21544
[250]	test-rmse:3.19369
[299]	test-rmse:3.17418
8번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.953
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.58174
[100]	test-rmse:3.40347
[150]	test-rmse:3.27681
[200]	test-rmse:3.2358
[250]	test-rmse:3.21625
[299]	test-rmse:3.19885
9번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.966
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.6017
[100]	test-rmse:3.43397
[150]	test-rmse:3.31004
[200]	test-rmse:3.27174
[250]	test-rmse:3.25108
[299]	test-rmse:3.2349
10번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9344
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.55742
[100]	test-rmse:3.37009
[150]	test-rmse:3.2458
[200]	test-rmse:3.20379
[250]	test-rmse:3.18038
[299]	test-rmse:3.16458
11번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9496
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.58113
[100]	test-rmse:3.4219
[150]	test-rmse:3.30237
[200]	test-rmse:3.26314
[250]	test-rmse:3.24132
[299]	test-rmse:3.2241
12번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9493
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.60357
[100]	test-rmse:3.44832
[150]	test-rmse:3.32799
[200]	test-rmse:3.28955
[250]	test-rmse:3.26903
[299]	test-rmse:3.25479
13번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9727
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.59965
[100]	test-rmse:3.77489
Stopping. Best iteration:
[94]	test-rmse:3.759

14번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.912
Will train until test-rmse hasn't improved in 10 rounds.
Stopping. Best iteration:
[13]	test-rmse:11.9929

15번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:14.0168
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.77281
[100]	test-rmse:3.65191
[150]	test-rmse:3.53406
[200]	test-rmse:3.49492
[250]	test-rmse:3.4719
[299]	test-rmse:3.4543
16번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9149
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.53835
[100]	test-rmse:3.37199
[150]	test-rmse:3.25016
[200]	test-rmse:3.21433
[250]	test-rmse:3.19139
[299]	test-rmse:3.17515
17번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9517
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.60881
[100]	test-rmse:3.44392
[150]	test-rmse:3.31976
[200]	test-rmse:3.27941
[250]	test-rmse:3.25588
[299]	test-rmse:3.2403
18번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9487
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.59031
[100]	test-rmse:3.41553
[150]	test-rmse:3.29243
[200]	test-rmse:3.25121
[250]	test-rmse:3.23023
[299]	test-rmse:3.2148
19번 파일데이터가 트레이닝 되었습니다.
[0]	test-rmse:13.9842
Will train until test-rmse hasn't improved in 10 rounds.
[50]	test-rmse:4.64512
[100]	test-rmse:3.45378
[150]	test-rmse:3.32237
[200]	test-rmse:3.28295
[250]	test-rmse:3.26259
[299]	test-rmse:3.24574
20번 파일데이터가 트레이닝 되었습니다.
CPU times: user 15h 9min 44s, sys: 19 s, total: 15h 10min 3s
Wall time: 7h 48min 10s

In [0]:
cd /content/gdrive/My Drive/data/nyc_split

/content/gdrive/My Drive/data/nyc_split

In [0]:
fname="xgb.model"

bst = xgb.Booster(model_file=fname)

In [0]:
cd /content/gdrive/My Drive/data

/content/gdrive/My Drive/data

In [0]:
df_test = pd.read_csv('cleaning_test.csv')

In [0]:
test_key = df_test['key']
x_pred = df_test.drop(columns=['key', 'pickup_datetime'])

In [0]:
df_test.head()

                           key  ... distance_to_center
0  2015-01-27 13:08:24.0000002  ...           3.841863
1  2015-01-27 13:08:24.0000003  ...           1.084252
2  2011-10-08 11:53:44.0000002  ...           2.851254
3  2012-12-01 21:12:12.0000002  ...           3.934481
4  2012-12-01 21:12:12.0000003  ...           5.634652

[5 rows x 12 columns]

In [0]:
#Predict from test set
prediction = bst.predict(xgb.DMatrix(x_pred))

In [0]:
submission = pd.DataFrame({'key' : df_test.key,
                          'fare_amount': prediction},
                         columns =['key','fare_amount'])

submission.head(10)

                           key  fare_amount
0  2015-01-27 13:08:24.0000002    10.876581
1  2015-01-27 13:08:24.0000003    11.115511
2  2011-10-08 11:53:44.0000002     4.732394
3  2012-12-01 21:12:12.0000002     7.972251
4  2012-12-01 21:12:12.0000003    13.869342
5  2012-12-01 21:12:12.0000005     9.793613
6  2011-10-06 12:10:20.0000001     5.125116
7  2011-10-06 12:10:20.0000003    48.913635
8  2011-10-06 12:10:20.0000002    11.696170
9  2014-02-18 15:22:20.0000002     6.690121

In [0]:
submission.to_csv('all_xgb_submission.csv', index=False)